<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Rapport</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   
</head>
<body>
    
 <script type="text/javascript"> $(window).load(function () {
     $('.loading').hide(); // hide message when finished with load
 });</script>
    
    <div class="loading">loading<img src="~/assets/img/loading1.gif" /></div>
    <script src="~/assets/stock/highstock.src.js"></script>
    <script src="~/assets/stock/modules/exporting.src.js"></script>
    @if (IsSectionDefined("graph")) { 
    <div id="container" style="height: 500px; min-width: 500px">
        
        @RenderSection("graph")
    </div>
    }
   
    @RenderSection("featured", required: false)
    @RenderBody()


    @RenderSection("variables", false)

    @RenderSection("scripts", required: false)
</body>
</html>
