@using Thermo.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Gauge, Gauge, Linear Gauge, Vertical Gauge, Horizontal Gauge" />
    <title id='Description'>This sample demonstrates the basic Linear Gauge settings.</title>
    <link rel="stylesheet" href="~/gauge/jqwidgets/styles/jqx.base.css" type="text/css" />
    
    <script type="text/javascript" src="~/assets/gauge/scripts/demos.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxexpander.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxchart.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxgauge.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="~/assets/gauge/jqwidgets/jqxslider.js"></script>


    <link rel="stylesheet" href="~/assets/caruossel/css/style.css" type="text/css" />
    <script type="text/javascript" src="~/assets/caruossel/js/jquery.flexisel.js"></script>

    <style type="text/css">
        .demo-options {
            list-style: none;
            padding: 0px;
            margin: 10px;
        }

            .demo-options li {
                padding: 3px;
                font-family: Verdana;
                font-size: 12px;
            }

        .item {
            width: 220px;
            margin: 10px;
            float: left;
        }

        .item {
            margin-left: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 20px !important;
        }
    </style>

</head>
<body class='default'>
    <div class="row-fluid">
        <div class="span12">
            <div id="container">
                <ul id="flexiselDemo1"> 
                    
                @{
                                   
                    foreach (var equi in ViewData["equipement"] as List<Thermo.Models.Equipement>)
                    {
                        if (equi.getLastmeasure() <= equi.LowAlarm)
                        {
                            
                            <li>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var majorTicks = { size: '10%', interval: 10 },
                                minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa' } },
                                labels = { interval: 20 };
                            $('#@equi.EquipementID').jqxLinearGauge({
                orientation: 'vertical',
                labels: labels,
                ticksMajor: majorTicks,
                ticksMinor: minorTicks,
                max: 80,
                value: -60,
                pointer: { size: '6%' },
                colorScheme: 'scheme05',
              
            });
            $('#@equi.EquipementID').jqxLinearGauge('value', @Math.Floor(equi.getLastmeasure()) );

        });
                    </script>
       
                    <div class="item">
                        <div class="thumbnail">
                            <h3>@equi.Name</h3>
                            <div class="demo-gauge" style="margin-left: 27px; width: 300px; height: 300px;">


                                <div id="@equi.EquipementID" style="margin-left: 20px; float: left;"></div>


                            </div>
                            <div class="caption">
                                

                                <p>
                                    
								
                                </p>

                                <p>
                                    <a style="margin-left: 18px;" class="btn btn-primary" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Details/@(equi.EquipementID)">Détails</a><a class="btn" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Edit/@(equi.EquipementID)">Editer</a>

                                </p>
                            </div>
                           
                        </div>
                    </div>
                </li>
                        }
                        else if (equi.getLastmeasure() >= equi.HighAlarm)
                        {
                             <li>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var majorTicks = { size: '10%', interval: 10 },
                                minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa' } },
                                labels = { interval: 20 };
                            $('#@equi.EquipementID').jqxLinearGauge({
                                                    orientation: 'vertical',
                                                    labels: labels,
                                                    ticksMajor: majorTicks,
                                                    ticksMinor: minorTicks,
                                                    max: 80,
                                                    value: -60,
                                                    pointer: { size: '6%' },
                                                    colorScheme: 'scheme04',
              
                                                });
                                                $('#@equi.EquipementID').jqxLinearGauge('value', @Math.Floor(equi.getLastmeasure()) );

                                            });
                    </script>
                   
                    <div class="item">
                        <div class="thumbnail">
                            <h3>@equi.Name</h3>
                            <div class="demo-gauge" style="margin-left: 27px; width: 300px; height: 300px;">


                                <div id="@equi.EquipementID" style="margin-left: 20px; float: left;"></div>


                            </div>
                            <div class="caption">

                                <p>
                                    
								
                                </p>

                                <p>
                                    <a style="margin-left: 18px;"  class="btn btn-primary" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Details/@(equi.EquipementID)">Détails</a><a class="btn" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Edit/@(equi.EquipementID)">Editer</a>

                                </p>
                            </div>
                          
                        </div>
                    </div>
           </li>
                        }
                        else
                        {
                            <li>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var majorTicks = { size: '10%', interval: 10 },
                                minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa' } },
                                labels = { interval: 20 };
                            $('#@equi.EquipementID').jqxLinearGauge({
                                                    orientation: 'vertical',
                                                    labels: labels,
                                                    ticksMajor: majorTicks,
                                                    ticksMinor: minorTicks,
                                                    max: 80,
                                                    value: -60,
                                                    pointer: { size: '6%' },
                                                    colorScheme: 'scheme02',
              
                                                });
                                                $('#@equi.EquipementID').jqxLinearGauge('value', @Math.Floor(equi.getLastmeasure()) );

                                            });
                    </script>
                    
                    <div class="item">
                        <div class="thumbnail">
                            <h3 style="align-content:center;">@equi.Name</h3>
                            <div class="demo-gauge" style="margin-left: 27px; width: 300px; height: 300px;">


                                <div id="@equi.EquipementID" style="margin-left: 20px; float: left;"></div>


                            </div>
                            <div class="caption">

                                <p>
                                </p>

                                <p>
                                    <a style="margin-left: 18px;"  class="btn btn-primary" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Details/@(equi.EquipementID)">Détails</a><a class="btn" href="~/@CultureHelper.GetCurrentCulture()/Equipement/Edit/@(equi.EquipementID)">Editer</a>

                                </p>
                            </div>
                          
                        </div>
                    </div>
           </li>
                        }
                    }
                }






</ul>
              
            </div>
        </div>
    </div>
    
  
<script type="text/javascript">

    $(window).load(function() {
        $("#flexiselDemo1").flexisel({
            clone:false
        });
    
    });
</script>
</body>
</html>
