@model Thermo.Models.Alarme

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Note de justification',
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 170,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'View User',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").live("click", function (e) {
            //e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Update User");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".lnkDetail").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>
<div class="col-md-6">
    <div class="span3">
        <div class="tab-widget">

            <ul class="nav nav-tabs" id="myTab2">
                <li class="active"><a href="#comments-post"><i
                    class="icon-comments"></i>Notes</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="comments-post">
                    @if( ViewData["listenotes"] != "null")
                    {
                    foreach (var item in ViewData["listenotes"] as List<Thermo.Models.Note>)
                    {
                    <div class="comment-items">
                        <div
                            class="item-block clearfix">
                            <div class="item-thumb pull-left">
                                <ul>

                                    <li class="item-pic">
                                        <img src="~/assets/theme/images/item-pic.png" width="34" height="34" alt="anchor"></li>
                                </ul>
                            </div>
                            <div class="item-intro pull-left">
                                <p>
                                   @item.text
										
                                </p>
                                <div class="item-meta">
                                    <ul>

                                        <li>@item.Author</li>
                                        <li>@item.Datecreation</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    }
                    }
                </div>


            </div>

        </div>
    </div>
      <p style="clear:both;text-align:right;">

    <a id="lnkCreate"  href="~/@Thermo.Helpers.CultureHelper.GetCurrentCulture()/Note/Create?id=@Model.AlarmeID" class="btn btn-primary "><span class="icon-hospital"> Note</span></a>
</p>
</div>
  